html{
    overflow: hidden;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* navigation */

nav {
    padding-top: env(safe-area-inset-top);
    width: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 5;
    background: #fbfbfb00; 
    height: 64px;
}

nav > div > a {
    text-decoration:none;
    list-style: none;
    font-family: Planner;
    padding: 7px;
    margin: 7px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border:none;
    font-size: 16px;
    background: none;
    color:rgb(199, 199, 199);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    height: 24px;
    border-radius: 8px;
}

nav > div > a:visited {
    text-decoration:none;
}

nav > div > a:hover {
    color: #4d4d4d;
    background-color: #ececec93;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 8px;
}
nav > div > a:hover:active {
    color: #3E3E3E;
    background-color: #dddddde7;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    border-radius: 11px;
}

/* home button styles*/
.homebutton{
    text-decoration:none;
    list-style: none;
    font-family: Planner;
    padding: 8px 2px 8px 2px;
    margin: 7px 0 7px 7px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border:none;
    font-size: 16px;
    background: none;
    color:rgb(199, 199, 199);
    transition: 0.2324s;
    -webkit-transition: 0.2324s;
    -o-transition: 0.2324s;
    -moz-transition: 0.2324s;
    cursor: pointer;
    height: 24px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-transition: 0.2324s;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.homebutton > div{
    padding: 5px;
    margin: 0 6px 0 0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: 0.123s;
    -webkit-transition: 0.123s;
    -moz-transition: 0.123s;
    -ms-transition: 0.123s;
    -o-transition: 0.123s;
    -webkit-animation-name: animhome;
            animation-name: animhome;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
    -webkit-animation-timing-function: cubic-bezier(0.79, 0.43, 0.36, 1.35);
            animation-timing-function: cubic-bezier(0.79, 0.43, 0.36, 1.35);
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -o-object-fit: cover;
       object-fit: cover;
}
@-webkit-keyframes animhome {
    0%   {
        margin: -12px;
        -webkit-transform: translateX(calc(-50px - env(safe-area-inset-bottom)));
                transform: translateX(calc(-50px - env(safe-area-inset-bottom)));
};
    100% {
        margin: 0 6px 0 0;
        -webkit-transform: translateX(calc(0px + env(safe-area-inset-bottom)));
                transform: translateX(calc(0px + env(safe-area-inset-bottom)));
    }
}
@keyframes animhome {
    0%   {
        margin: -12px;
        -webkit-transform: translateX(calc(-50px - env(safe-area-inset-bottom)));
                transform: translateX(calc(-50px - env(safe-area-inset-bottom)));
};
    100% {
        margin: 0 6px 0 0;
        -webkit-transform: translateX(calc(0px + env(safe-area-inset-bottom)));
                transform: translateX(calc(0px + env(safe-area-inset-bottom)));
    }
}

.homebutton:hover{
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: transparent;
}
.homebutton:hover > div{
    color: #4d4d4d;
    background-color: #ececec93;
}
.homebutton:hover:active{
    background: rgba(216, 216, 216, 0.288);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    transform: scale(0.931);
    -webkit-transform: scale(0.931);
    -moz-transform: scale(0.931);
    -ms-transform: scale(0.931);
    -o-transform: scale(0.931);
}
.homebutton:hover:active > div{
    color: #4d4d4d;
}




.lilogo {
    width:96.891px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url(../images/logos/logo-light.svg) center;
    background-repeat: no-repeat;
}
.lilogoli{
    width:96.891px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url(../images/logos/logo.svg) center;
    background-repeat: no-repeat;

}

.logo{
    height: 32px; 
    -webkit-transition: 0.2s; 
    -o-transition: 0.2s; 
    transition: 0.2s;
}

nav > div {
    margin: 0ch;
    padding: 0px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
    /*flag*/
.flagroup {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    margin-left: 8px;
    margin-right: 8px;
}
#flagES{
    background: url(../images/flags/bandera-es.jpg);
    background-size: cover; 
    background-position: center;
}
#flagES::before {
    position: absolute;
    background: #0366D6 center;
    content: "";
    margin: 23px 8px 0 8px;
    width: 16px;
    height: 3px;
    border-radius: 3px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
#flagES:hover::before {
    background: #0366D6 center;
    width: 18px;
    margin: 23px 7px 0 7px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
#flagES:hover:active::before {
    background: #004faa center;
    width: 14px;
    margin: 23px 9px 0 9px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
#flagVA{
    background: url(../images/flags/bandera-vl.png);
    background-size: cover; 
    background-position: center;
}
#flagEN{
    background: url(../images/flags/bandera-en.png);
    background-size: cover; 
    background-position: center;
}
#flagFR{
    background: url(../images/flags/bandera-fr.svg);
    background-size: cover; 
    background-position: center;
    margin-right: 0;
}
.lista {
    margin-right: 8px;
    border: none;
    padding: 0;
    opacity: 0.72;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    width: 32px;
    height: 20px;
}
.lista:hover{
    opacity: 1;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
}
.lista:focus{
    opacity: 1;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
}
.lista:hover:active{
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
         transform: scale(.9);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.burger_menu{
    display: none;
    text-decoration: none;
    list-style: none;
    font-family: Planner;
    padding: 6px 6px;
    margin: 7px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    font-size: 16px;
    background: none;
    color: rgb(199, 199, 199);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
}

.burger_menu:hover{
    color: #4d4d4d;
    background-color: #ececec93;
}
.burger_menu:hover:active{
    -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
         transform: scale(.8);
}

/*sidebar*/

.sidebar_container{
    position: absolute;
    background:rgba(0, 0, 0, 0.726);
    width: 0;
    height: 100%;
    z-index: 101;
    -webkit-transition: opacity 0.3s, width 0.01s 0.301s;
    -o-transition: opacity 0.3s, width 0.01s 0.301s;
    transition: opacity 0.3s, width 0.01s 0.301s;
    opacity: 0;
}

.OpenSidebarContainer{
    -webkit-transition: opacity 0.3s, width 0.01s ;
    -o-transition: opacity 0.3s, width 0.01s ;
    transition: opacity 0.3s, width 0.01s ;
    width: 100%;
    opacity: 1;
}

#sidebar_content{
    position: absolute;
    overflow-y: auto;
    width: 270px;
    background: #f3f3f3;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    z-index: 102;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    left: calc(-320px - env(safe-area-inset-left));
}

.sidebar_header{
    height: 64px;
    min-height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sidebar_header > button{
    text-decoration: none;
    list-style: none;
    font-family: Planner;
    padding: 6px 6px;
    margin: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    font-size: 16px;
    background: none;
    color: #676767;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
}
.nonsection{
    position: relative;
    bottom: unset;
    width: unset;
    height: unset;
    background-image: unset;
}

.BigSideContainer{
    overflow-y: visible;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.sidebar_main{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content; 
}

.sidebar_footer{
    margin: 0 0 calc(8px + env(safe-area-inset-bottom)) 0;
}

.spaceDiplayFlex{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
}

.instagramButton{
    position: relative;
    text-decoration:none;
    list-style: none;
    font-family: Planner;
    padding: 0 6px 0 6px;
    margin: 4px 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border:none;
    background-color: #00000000;
    font-size: 16px;
    background-size: 0 200%;
    color:#676767;
    cursor: pointer;
    border-radius: 11px;
    z-index: 105;
}



.instagramButton::before{
    position: absolute;
    content: "";
    height: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
    opacity: 0;
    background: -o-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background-repeat: no-repeat;
    border-radius: 11px; 
    background-size: 200% 100%;
    cursor: pointer;
    -webkit-animation: gradient 3s linear infinite;
         animation: gradient 3s linear infinite;
}

.instagramButton:focus::before{
    opacity: 1;
}
.instagramButton:focus{
    color:#ffffff;
}

.instagramButton:hover::before{
    opacity: 1;
}
.instagramButton:hover{
    color:#ffffff;
}

.instagramButton:hover:active{
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
         transform: scale(.9);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.instagramButton > p {
    font-size: 16px;
}

.sidebar_common_txt {
    position: relative;
    text-decoration:none;
    list-style: none;
    font-family: Planner;
    height: 24px;
    padding: 7px;
    margin: 4px 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border:none;
    font-size: 16px;
    background: none;
    color:#676767;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 8px;
}

.sidebar_common_txt:visited {
    text-decoration:none;
}

.sidebar_common_txt:hover {
    color: #676767;
    background-color: #ECECEC;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 8px;
}


.sidebar_common_txt:hover:active {
    color: #3E3E3E;
    background-color: #DDDDDD;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    border-radius: 11px;
}

.subtitleSection{
    margin: 10px 0 8px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.ico_insta{
    font-size: 20px;
    margin: 0 3px 0 3px;
}
.icoWidth{
    margin-right: 10px;
}
.icoWidth .ico_insta{
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/*body*/
body{
    margin: 0;
    padding-top: 0.1px;
    font-family: Planner;
    background-color: black;
}

/*video background*/
.backvideo{
    opacity: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    -o-object-fit: cover;
       object-fit: cover;
}
.backopacitier{
    opacity: 0.76342;
    width: 100%;
    height: 100%;
    position: fixed;
    -o-object-fit: cover;
       object-fit: cover;
    background-color: #000;
}
.maincentertitle {
    font-size: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Planner;
    color: #ffffff;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
/*     padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
 */}
.mini_ico{
    width: 45px;
    height: 45px;
    margin: 7.3px;
    margin-bottom: 20px;
    padding:0;
    background: url(../images/map/gallo.svg);
    background-repeat: no-repeat;
}
.box_title{
    width: 300px;
    height: auto;
}
.ptitle{
    margin: 0;
    padding: 0 7.3px 0 7.3px;
}
.pbutton{
    color: #dac634;
    background: #e9e7d15b;
    margin: 20px 7.3px 0 7.3px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding:0 18px 0 18px;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border: none;
    font-family: Planner;
    font-size: 18.8721px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-backdrop-filter: blur(1.4px);
            backdrop-filter: blur(1.4px);
    height: 32px;
    transition: cubic-bezier(0.79, 0.43, 0.36, 1.35) 0.2s;
    -webkit-transition: cubic-bezier(0.79, 0.43, 0.36, 1.35) 0.2s;
    -moz-transition: cubic-bezier(0.79, 0.43, 0.36, 1.35) 0.2s;
    -ms-transition: cubic-bezier(0.79, 0.43, 0.36, 1.35) 0.2s;
    -o-transition: cubic-bezier(0.79, 0.43, 0.36, 1.35) 0.2s;
    cursor: pointer;
}
.pbutton:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.pbutton:active{
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

/*win7windowstyle*/
.ineritwindow{
    display: none;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}
.openTrue{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.window{
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.openingAnim{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation-name: openwindow;
            animation-name: openwindow;
    -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: cubic-bezier(0.22, 0.96, 0.81, 0.99);
            animation-timing-function: cubic-bezier(0.22, 0.96, 0.81, 0.99);
}
@-webkit-keyframes openwindow {
    0%   {
        opacity: 0; 
        -webkit-transform: 
            scale(.8865); 
                transform: 
            scale(.8865)
    }
    100% {
        opacity: 1;
        -webkit-transform: 
            scale(1);
                transform: 
            scale(1)
    }
}
@keyframes openwindow {
    0%   {
        opacity: 0; 
        -webkit-transform: 
            scale(.8865); 
                transform: 
            scale(.8865)
    }
    100% {
        opacity: 1;
        -webkit-transform: 
            scale(1);
                transform: 
            scale(1)
    }
}

.closeAnim{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation-name: closewindow;
            animation-name: closewindow;
    -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: 0;
    -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
            transform: scale(.8);
}
@-webkit-keyframes closewindow {
    0%   {
        opacity: 1; 
        -webkit-transform: 
            scale(1); 
                transform: 
            scale(1)
    }
    100% {
        opacity: 0;
        -webkit-transform: 
            scale(.8865);
                transform: 
            scale(.8865)
    }
}
@keyframes closewindow {
    0%   {
        opacity: 1; 
        -webkit-transform: 
            scale(1); 
                transform: 
            scale(1)
    }
    100% {
        opacity: 0;
        -webkit-transform: 
            scale(.8865);
                transform: 
            scale(.8865)
    }
}

.windowtitle{
    border:1px solid rgba(0,0,0,.6);
    border-bottom: 0;
    background: #4e4e4e;
    height: 50px;
    border-radius: 8px 8px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10px 0 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.titletxt{
    font-size: 13px;
    color: white;
}

.windowplay{
    border:1px solid rgba(0,0,0,.6);
    border-top: 0;
    padding: 0 8px 8px 8px;
    background: #4e4e4e;
    margin: 0;
    border-radius: 0 0 6px 6px;
}

@supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())){

    .windowtitle{
        background: #92929265;
        height: 50px;
        border-radius: 8px 8px 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
    }
    .windowplay{
        padding: 0 8px 8px 8px;
        background: #92929265;
        margin: 0;
        border-radius: 0 0 6px 6px;
        -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
    }
}

.left_title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.closethewin{
    width: 20px;
    height: 20px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    position: relative;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #e94b4e;
    color: transparent;
    border: 1px solid rgba(102, 10, 28, 0.418);
    font-size: 15px;
}
.closethewin:hover {
    color: rgb(180, 16, 49);
}
.closethewin:hover:active {
    color: rgb(119, 11, 33);
    background-color: #b93a3c;
}

.useAsIco{
    width: 25px;
    height: 25px;
    background: url(../images/map/gallo.svg);
    background-size: cover;
    margin-right: 7px;
}
.video_play{
    display:block;
    margin: 0;
    width: 500px;
}
.Xbutton_mobile{
    display: none;
}


/*logo clot*/
.logo-clot{
    width: 18em;
    height: auto;
}
.logo-clot-container{
    position: absolute;
    bottom: max(1em,env(safe-area-inset-bottom));
    left: calc(2em + env(safe-area-inset-left));
    z-index: 100;

}

/*font*/
@font-face {
    font-family: Planner;
    src: url(Planer-Regular.ttf);
}

/*WINDOW media screen size: width*/

@media screen and (max-width: 759px){
    nav > div > a > .iconos_textos {
        display: none;
    }
    nav > div > a {
       padding: 6px;
    }
    .logo-clot-container {
        width: 100%;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .windowplay{
        padding: 0 6px 6px 6px;
    }
}

@media screen and (max-width: 521px){
    nav > div > a {
        display: none;
    }
    .burger_menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-radius: 17px;
    }
    .lilogo{
        margin: 0;
        padding: 0;
    }
    .homebutton > div {
        display: none;
    }
    .homebutton{
        margin: 7px 0 7px 0;
    }
    .video_play{
        width: 100%;
    }
    .windowplay{
        margin: 0 20px 0 20px;
        background: #4e4e4e;
        border: 0;
        -webkit-backdrop-filter: blur(0px);
                backdrop-filter: blur(0px);
    }
    .title-bar-controls{
        display: none;
    }
    .windowtitle {
        background: #4e4e4e;
        border: 0;
        border-radius: 11px 11px 0 0;
        height: 40px;
        margin: 0 20px 0 20px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-backdrop-filter: blur(0px);
                backdrop-filter: blur(0px);
    }
    .titletxt{
        font-size: 17px;
    }
    .ineritwindow{
        background: rgba(0, 0, 0, 0.384);
        -webkit-transition: background 1s;
        -o-transition: background 1s;
        transition: background 1s;
    }
    .Xbutton_mobile{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        bottom: 0px;
        background: none;
        margin: 0 0 20px 0;
        color: rgb(239, 248, 255);
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        border: none;
        font-family: Planner;

    }

    .openXnotspace{
        -webkit-animation-name: holaclose;
                animation-name: holaclose;
        -webkit-animation-timing-function: cubic-bezier(0.24, 0.99, 0.6, 1.15);
                animation-timing-function: cubic-bezier(0.24, 0.99, 0.6, 1.15);
        -webkit-animation-duration: .2s;
                animation-duration: .2s;
        -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
    }
    .closeXnotspace{
        -webkit-animation-name: adeuclose;
                animation-name: adeuclose;
        -webkit-animation-timing-function: cubic-bezier(0.57, -0.47, 0.6, 1.15);
                animation-timing-function: cubic-bezier(0.57, -0.47, 0.6, 1.15);
        -webkit-animation-duration: .2s;
                animation-duration: .2s;
        -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
        bottom: calc(-200px - env(safe-area-inset-bottom));
        opacity: 0;
    }

    @-webkit-keyframes holaclose {
        0%   {bottom: calc(-200px - env(safe-area-inset-bottom)); opacity: 0;};
        100% {bottom: calc(0px + env(safe-area-inset-bottom)); opacity: 1;};
    }

    @keyframes holaclose {
        0%   {bottom: calc(-200px - env(safe-area-inset-bottom)); opacity: 0;};
        100% {bottom: calc(0px + env(safe-area-inset-bottom)); opacity: 1;};
    }
    @-webkit-keyframes adeuclose {
        0%   {bottom: calc(0px + env(safe-area-inset-bottom)); opacity: 1;};
        100% {bottom: calc(-200px - env(safe-area-inset-bottom)); opacity: 0;};
    }
    @keyframes adeuclose {
        0%   {bottom: calc(0px + env(safe-area-inset-bottom)); opacity: 1;};
        100% {bottom: calc(-200px - env(safe-area-inset-bottom)); opacity: 0;};
    }

    .contentXmobile{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .Xbutton{
        padding: 18.5324px;
        color: rgb(239, 248, 255);
        font-size: 30px;
        border: 3.14px solid rgb(239, 248, 255) ;
        border-radius: 50%;
    }
    .CancelButton{
        margin: 9px 0 0 0;
        font-size: 18px;
    }
    .sulfurodecobre{
        display: none;
    }
}



@media screen and (max-height: 615px){
    main{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}

@media screen and (max-height: 500px){
    .video_play{
        max-width: 100%;
        width: unset;
        height: unset;
        max-height: 250px;
    }
    .windowplay{
        margin: 0 20px 0 20px;
        background: #4e4e4e;
        border: 0;
        padding: 5px;
        border-radius:6px;
        -webkit-backdrop-filter: blur(0px);
                backdrop-filter: blur(0px);
    }
    .title-bar-controls{
        display: none;
    }
    .windowtitle {
        display: none;
    }
    .titletxt{
        font-size: 17px;
    }
    .ineritwindow{
        background: rgba(0, 0, 0, 0.384);
        -webkit-transition: background 1s;
        -o-transition: background 1s;
        transition: background 1s;
    }

    .sulfurodecobre{
        display: none;
    }
    .Xbutton_mobile{
        right: 0;
        margin-right: 20px;
        bottom: unset;
        display: -ms-grid;
        display: grid;
        position: relative;
        -ms-grid-row-align: center;
            align-self: center;
        background: none;
        border: none;
        cursor: pointer;
    }

    .openXnotspace{
        -webkit-animation-name: holaclose;
                animation-name: holaclose;
        -webkit-animation-timing-function: cubic-bezier(0.24, 0.99, 0.6, 1.15);
                animation-timing-function: cubic-bezier(0.24, 0.99, 0.6, 1.15);
        -webkit-animation-duration: .2s;
                animation-duration: .2s;
        -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
        bottom: 0;
    }
    .closeXnotspace{
        -webkit-animation-name: adeuclose;
                animation-name: adeuclose;
        -webkit-animation-timing-function: cubic-bezier(0.57, -0.47, 0.6, 1.15);
                animation-timing-function: cubic-bezier(0.57, -0.47, 0.6, 1.15);
        -webkit-animation-duration: .2s;
                animation-duration: .2s;
        -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
        opacity: 0;
        -webkit-transform: scale(.8865);
            -ms-transform: scale(.8865);
                transform: scale(.8865);
    }

    @-webkit-keyframes holaclose {
        0% {opacity: 0; -webkit-transform: scale(.8865); transform: scale(.8865)};
        100% {opacity: 1; -webkit-transform: scale(1); transform: scale(1)}
    }

    @keyframes holaclose {
        0% {opacity: 0; -webkit-transform: scale(.8865); transform: scale(.8865)};
        100% {opacity: 1; -webkit-transform: scale(1); transform: scale(1)}
    }
    @-webkit-keyframes adeuclose {
        0% {opacity: 1; -webkit-transform: scale(1); transform: scale(1)};
        100% {opacity: 0; -webkit-transform: scale(.8865); transform: scale(.8865)}
    }
    @keyframes adeuclose {
        0% {opacity: 1; -webkit-transform: scale(1); transform: scale(1)};
        100% {opacity: 0; -webkit-transform: scale(.8865); transform: scale(.8865)}
    }


    .contentXmobile{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .Xbutton{
        padding: 18.5324px;
        color: rgb(239, 248, 255);
        font-size: 30px;
        border: 3.14px solid rgb(239, 248, 255) ;
        border-radius: 50%;
    }
    .CancelButton{
       display: none;
    }
    .sulfurodecobre{
        display: none;
    }
    #window{
        z-index: 67;
    }
}
@media screen and (max-height:545px) {
    .Xbutton{
        padding: 10px;
    }
}
@media screen and (max-height: 500px){
    .Xbutton{
        padding: 15.4252px;
    }
}


/*mini size screen*/

@media screen and (max-width: 521px) and (max-height:500px) {
    .Xbutton_mobile{
        margin: 0;
        margin: 0 20px 0 0;
    }
    .contentXmobile{
        margin: 0;
    }
}

@media screen and (max-height: 275px) and (min-width: 344px){
    .video_play{
        height: 200px;
        width: auto;
    }
}

@media screen and (max-width: 344px) {

    .lista{
        width: 25px; /* width: 32px; */
        height: 15.625px ; /* height: 20px; */
    }
    #flagES{
        display: none;
    }
    .lilogo{
        margin: 0;
        padding: 0;
    }
    .homebutton{
        margin-left: 0;
        margin-right: 0;
        padding-left: 2px;
        padding-right: 2px; 
    }
}

/*notch devices*/

nav > div{
    margin-right: env(safe-area-inset-right);
    margin-left: env(safe-area-inset-left);
}