html{
    overflow: hidden;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*
* Prefixed by https://autoprefixer.github.io
*/

.TabIndexing {
    outline:none;
    -webkit-transition: -webkit-box-shadow 0.5s ease;
    transition: -webkit-box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease, -moz-box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease, -moz-box-shadow 0.5s ease;
}
.TabIndexing:focus {
    -webkit-box-shadow: 0 0 0 4px rgba(228, 225, 21, 0.4);
       -moz-box-shadow: 0 0 0 4px rgba(228, 225, 21, 0.4);
            box-shadow: 0 0 0 4px rgba(228, 225, 21, 0.4);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #000000;
    top:50%;
    position: absolute;
    left: 50%
}

#backgrounT{
    background: hsl(0, 80%, 50%);
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-animation-name: opacity_thing;

    -moz-animation-name: opacity_thing;

      -o-animation-name: opacity_thing;

         animation-name: opacity_thing;
    -webkit-animation-duration: 10s;
       -moz-animation-duration: 10s;
         -o-animation-duration: 10s;
            animation-duration: 10s;
 -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
      -o-animation-iteration-count: 1;
         animation-iteration-count: 1;
 -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
      -o-animation-timing-function: linear;
         animation-timing-function: linear;
}

@-webkit-keyframes opacity_thing {
    0%   {opacity: 0.1;}
    100% {opacity: 1;}
}

@-moz-keyframes opacity_thing {
    0%   {opacity: 0.1;}
    100% {opacity: 1;}
}

@-o-keyframes opacity_thing {
    0%   {opacity: 0.1;}
    100% {opacity: 1;}
}

@keyframes opacity_thing {
    0%   {opacity: 0.1;}
    100% {opacity: 1;}
}

.logo{
    height: 32px;
}

#content_error{
    position: absolute;
    width: 300px;
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #FAFAFA;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-border-radius: 11px;
       -moz-border-radius: 11px;
            border-radius: 11px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.24);
       -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.24);
            box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.24);
}

a {
    font-family: Planner;
}

#causecode{
    font-size: 40px;
    margin-bottom: 5px;
    width: 100%;
}

#message {
    font-family: monospace;
    padding: 6px;
    background: #2A2B33;
    color:#c5c8d4;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    margin-top: 10px;
}

#date_console{
    font-family: monospace;
    color:#7b7d86;
    font-size: 11px;
}

#txt_error{
    font-family: monospace;
}

.tip{
    font-family: monospace;
    color: #56635D;
}
.error{
    color: #DF6D6D;
}
.error_title{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15px;
}
.icostyle{
    color:#E2AD3C;
}

.button{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ECECEC;
    padding: 8px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
    text-decoration: none;
    color: #676767;
    -webkit-transition: 
        background ease 0.2s,
        color ease 0.1s;
    -o-transition: 
        background ease 0.2s,
        color ease 0.1s;
    -moz-transition: 
        background ease 0.2s,
        color ease 0.1s;
    transition: 
        background ease 0.2s,
        color ease 0.1s;
}

.button:nth-child(4){
    margin-bottom: 0;
}

.button:hover{
    background: #dfdfdf;
}

.button:hover:active{
    background: #c9c9c9;
    color: #474747;
}

.button:focus{
    background: #c9c9c9;
    color: #474747;
}


#options{
    margin-top:8px;
    width: 285px;
}

/*flags*/

#flagES{
    background: url(../images/flags/bandera-es.jpg);
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover; 
    background-position: center;
    min-width: 28px; 
    min-height: 17.5px; 
}
#flagVA{
    background: url(../images/flags/bandera-vl.png);
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover; 
    background-position: center;
    min-width: 28px; 
    min-height: 17.5px; 
}
#flagEN{
    background: url(../images/flags/bandera-en.png);
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover; 
    background-position: center;
    min-width: 28px; 
    min-height: 17.5px; 
}
#flagFR{
    background: url(../images/flags/bandera-fr.svg);
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover; 
    background-position: center;
    min-width: 28px; 
    min-height: 17.5px; 
}
.lista {
    border: none;
    padding: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
    width: 28px; 
    height: 17.5px; 
    margin-right: 7px;
}

@font-face {
    font-family: Planner;
    src: url(Planer-Regular.ttf);
}

@media screen and (max-width: 300px){
    #content_error{
        width: 200px;
    }
    #options{
        margin-top:8px;
        width: 185px;
    }
}

@media screen and (max-height: 444px){
    #content_error{
        width: 500px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
           -moz-box-orient: horizontal;
           -moz-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    #message{
        width: 230px;
    }
    #options{
        margin-top: 0;
        margin-left: 12px;
        width: 230px;
    }
    .button{
        width: 100%;
    }
}

@media screen and (max-height: 230px){
    #options{
        display:none;
    }
    #message{
        width: unset
    }
    #content_error{
        width: 300px;
    }
    .error_title{
        display: none;
    }
    #causecode{
        font-size: 23px;
    }
}

@media screen and (max-height: 480px) and (max-width: 530px){
    #options{
        display:none;
    }
    #message{
        width: unset
    }
    #content_error{
        width: 300px;
    }
    .error_title{
        display: none;
    }
    #causecode{
        font-size: 23px;
    }
}

@media screen and (max-height: 480px) and (max-width: 500px){
    #content_error {
        width: 182px;
    }
}